.home-container{
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-cotainer{
    height: 450px;
    width: 800px;
    background-color: rgb(172,77,164,0.2); 

}
.title{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    
}
.desc{
    height: 290px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
